
<div class="row first">
    <div class="col boxleft">
        <h3>
            Welcome in Shopping
        </h3><br>
        <h4>
            Across India, there are milions of customers using Shopping Services
            they can fullfill their wish in a easiest way.

        </h4>
    </div>
    <div class="col">
        <h3>
            Our services
        </h3><br>
        <h4>
            <li>About Us</li>
            <li>Buy Products</li>
            <li>Sell Products</li>
        </h4>
    </div>
    <div class="col">
        <h3>
            Contact us
        </h3><br>
        <h4>
            <li>Chat with us</li>
            <li>Mail us</li>
            <li>Customer Care - 1234567809</li>
        </h4>

    </div>

</div>
<div class="row second">
    <div class="col boxcenter">
        <h4>
            Copyright © 2020 Shopping. All Rights Reserved
        </h4>
    </div>
</div>