<div class="bodydiv">
    <div class="containerDiv">
        <div class="head">
            <p>admin login</p><hr>
        </div>
        <div class="formDiv">
            <form [formGroup]="_admin_Login_Form">
                <div>
                    <label for="id">Enter ID : </label><br>
                    <input type="text" id="id" formControlName="_id" required placeholder="Admin Id">
                    <div *ngIf="id.errors">
                        <small *ngIf="id.errors?.required && id.touched" class="text-danger">
                            Id is required
                        </small>
                    </div>
                </div><br>
                <div>
                    <label for="pass">Enter New Password : </label><br>
                    <input type="password"  id="pass" formControlName="_password" required placeholder="New Password">
                    <div *ngIf="pwd.errors">
                        <small *ngIf="pwd.errors?.required && pwd.touched" class="text-danger">
                            Password is required
                        </small>
                        <small *ngIf="pwd.errors?.passwordValidation" class="text-danger">
                            {{pwd.errors.passwordValidation.message}}
                        </small> 
                    </div>
                </div><br>
                <div>
                    <label for="id">Confirm Password : </label><br>
                    <input type="password" id="cPass" formControlName="_conPassword" required placeholder="Confirm Password">
                    <div *ngIf="cPwd.errors || _admin_Login_Form.errors">
                        <small *ngIf="cPwd.errors?.required && cPwd.touched" class="text-danger">
                            Password is required
                        </small>
                        <small *ngIf="_admin_Login_Form.errors?.validatePassword" class="text-danger" style="color:red;">
                            {{_admin_Login_Form.errors.validatePassword.message}} 
                        </small> 
                    </div>
                </div><br>

                <div class="buttonDiv">
                    <input type="submit" class="btn" value="Change" [disabled]="_admin_Login_Form.invalid" (click)="updatePassword()">
                    <input type="reset" class="btn" value="Reset">
                </div>
            </form>
        </div>
        
    </div>
</div>